<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<style>
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #393E46;
    color: #f1f1f1;
  }
  .navbar {
    background-color: #222831;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
  }
  .content {
    padding: 3rem 2rem;
    text-align: center;
  }
  footer {
    background: #222831;
    color: #bbb;
    text-align: center;
    padding: -1rem;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .theme-toggle {
  background-color: #393E46;
  color: #1e1e1e;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  margin-left: 1rem;
  transition: 0.2s;
}
.theme-toggle:hover {
  background-color: #2e3238;
  color: white;
}
</style>
