<div class="navbar">
  <div><strong>NestJS Boilerplate</strong></div>
  <div>
    <a href="/">Home</a>
    <a href="/api/info">API Info</a>
    <a href="/switch-theme" class="theme-toggle">🌓 Switch Theme</a>
  </div>
</div>
